body{
margin:0;
font-family:Arial;
background:#f3f6fb;
}

header{
background:#4f46e5;
color:white;
text-align:center;
padding:40px;
}

.container{
display:flex;
justify-content:center;
gap:40px;
padding:40px;
flex-wrap:wrap;
}

.form-section{
background:white;
padding:25px;
width:320px;
border-radius:10px;
box-shadow:0 10px 20px rgba(0,0,0,0.1);
}

.events-section{
width:500px;
}

input,textarea{
width:100%;
padding:10px;
margin:10px 0;
border:1px solid #ddd;
border-radius:5px;
}

button{
background:#4f46e5;
color:white;
padding:10px;
border:none;
border-radius:5px;
cursor:pointer;
width:100%;
}

button:hover{
background:#4338ca;
}

.event-card{
background:white;
padding:20px;
margin-bottom:20px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
}

.date{
color:#4f46e5;
font-weight:bold;
}

.location{
color:#555;
}